[submodule "images/rpi-mariadb"]
	path = images/rpi-mariadb
	url = https://github.com/bingen/rpi-mariadb.git
[submodule "images/rpi-openldap"]
	path = images/rpi-openldap
	url = https://github.com/bingen/rpi-openldap.git
[submodule "images/rpi-nextcloud"]
	path = images/rpi-nextcloud
	url = https://github.com/bingen/rpi-nextcloud.git
[submodule "images/rpi-haproxy"]
	path = images/rpi-haproxy
	url = https://github.com/bingen/rpi-haproxy.git
[submodule "images/rpi-email"]
	path = images/rpi-email
	url = https://github.com/bingen/rpi-email.git
[submodule "images/rpi-nginx"]
	path = images/rpi-nginx
	url = https://github.com/bingen/rpi-nginx.git
[submodule "images/rpi-nginx-php"]
	path = images/rpi-nginx-php
	url = https://github.com/bingen/rpi-nginx-php.git
[submodule "images/rpi-paperless"]
	path = images/rpi-paperless
	url = git@github.com:bingen/rpi-paperless.git
