# modify and copy to .env

ARCH=ARCH_PLACEHOLDER

# DB
DB_DATA_VOLUME_PATH=${VOLUMES_PATH}/mariadb/data
#DB_CONFIG_VOLUME_PATH=${VOLUMES_PATH}/mariadb/config

# LDAP
LDAP_DOMAIN=${DOMAIN}
LDAP_ORGANIZATION=${ORGANIZATION}
LDAP_EXTENSION=${EXTENSION}
LDAP_ADMIN_PWD_FILE=/run/secrets/admin_pwd
LDAP_DATA_VOLUME_PATH=${VOLUMES_PATH}/openldap/data
LDAP_CONFIG_VOLUME_PATH=${VOLUMES_PATH}/openldap/config
LDAP_CERTS_VOLUME_PATH=${VOLUMES_PATH}/openldap/certs

# MAIL

MAIL_HOSTNAME=mail
MAIL_DOMAIN=${DOMAIN}
MAIL_DATA_VOLUME_PATH=${VOLUMES_PATH}/mail
#MAIL_STATE_VOLUME_PATH=${VOLUMES_PATH}/mail/state
MAIL_DATA_PATH=/srv/vmail
#MAIL_STATE_PATH=/var/mail-state

# NEXTCLOUD

NEXTCLOUD_VERSION=nextcloud-14.0.3
# Internal data path
NEXTCLOUD_DATA_PATH=/srv/nextcloud/data
# external Volume path
NEXTCLOUD_DATA_VOLUME_PATH=${VOLUMES_PATH}/nextcloud/data
# Internal Backup path
NEXTCLOUD_BACKUP_PATH=/srv/nextcloud/backup
# external Volume path
NEXTCLOUD_BACKUP_VOLUME_PATH=${VOLUMES_PATH}/nextcloud/backup

# PAPERLESS

PAPERLESS_DATA_VOLUME_PATH=${VOLUMES_PATH}/paperless/data
PAPERLESS_MEDIA_VOLUME_PATH=${VOLUMES_PATH}/paperless/media
PAPERLESS_CONSUMPTION_VOLUME_PATH=${VOLUMES_PATH}/paperless/consume
PAPERLESS_CONSUMPTION_PATH=/consume
PAPERLESS_EXPORT_VOLUME_PATH=${VOLUMES_PATH}/paperless/export
PAPERLESS_EXPORT_PATH=/export

# GOGS

GOGS_DATA_VOLUME_PATH=${VOLUMES_PATH}/gogs/data

# PI-HOLE

PIHOLE_CONFIG_VOLUME_PATH=${VOLUMES_PATH}/pihole/pihole
PIHOLE_DNSMASQ_VOLUME_PATH=${VOLUMES_PATH}/pihole/dnsmasq.d

# LET'S ENCRYPT

LETSENCRYPT_VOLUME_PATH=${VOLUMES_PATH}/letsencrypt
