# Webserver
PAPERLESS_WEBSERVER_USER=${PAPERLESS_WEBSERVER_USER}
PAPERLESS_WEBSERVER_PWD_FILE=/run/secrets/webserver_pwd
# paperless variables
PAPERLESS_PASSPHRASE_FILE=/run/secrets/passphrase
#PAPERLESS_OCR_THREADS=
PAPERLESS_OCR_LANGUAGES=cat spa
#USERMAP_UID=
#USERMAP_GID=
# FTP server
PAPERLESS_FTP_USER=${PAPERLESS_FTP_USER}
PAPERLESS_FTP_PWD_FILE=/run/secrets/ftp_pwd
