ZONEMINDER_DOMAIN=${DOMAIN}
ZONEMINDER_SERVER_NAME=zoneminder
ZONEMINDER_ADMIN_PWD_FILE=/run/secrets/admin_pwd
#DATA_CHOWN=1
# DB
MYSQL_ROOT_PWD_FILE=/run/secrets/mysql_pwd
DB_HOST=db
ZONEMINDER_DB_NAME=zm
ZONEMINDER_DB_USER=zmuser
